# World Data Indicator Exploratory Data Analysis (EDA)

The World Data Indicator (WDI) data set has yet to be explored.  It is full of promise and curiosity to understand how the world data indicators are related in any way form or fashion.  From a data scientist point of view,  there is only one way to understand the data set.  This is, the data set is a gift that will remain a mystery until we unwrap it and do a thorough exploratory data analysis.


The WDI data set does have the luxury of putting all of the data into one csv data file.   The WDI data set is composed of the following separate data sets:


* Country.csv
* CountryNotes.csv
* database.sqlite
* Footnotes.csv
* Indicators.csv
* Series.csv
* SeriesNotes.csv

Our goal is to create a global data frame which ties all of above data sets into one using Python's pandas libraries or SFrames.   This will later enable our team to easily explore and visualize the data set using simple Python programming techniques. 

Data is expensive and none of the initial data collected will be discarded.  Our team took the approach to analyze each data set and understand how the above data set's are related.

In [12]:
import sqlite3
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [1]:
# Path to where all of the data set files resides 
path = 'data'

# Country.csv

In [ ]:
# TO DO
# EXPLAIN EACH FEATURE IN LIST
# FEATURE NAME       DESCRIPTION
# CountryCode        unique country code
# ShortName
# 
# LatestWaterWithdrawalData

In [4]:
# now let's read in the same data using pandas to save it as a dataframe
filename = path + '\Country.csv'

df_country = pd.read_csv(filename) # read in the csv file
df_country.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 247 entries, 0 to 246
Data columns (total 31 columns):
CountryCode                                   247 non-null object
ShortName                                     247 non-null object
TableName                                     247 non-null object
LongName                                      247 non-null object
Alpha2Code                                    244 non-null object
CurrencyUnit                                  214 non-null object
SpecialNotes                                  164 non-null object
Region                                        214 non-null object
IncomeGroup                                   214 non-null object
Wb2Code                                       246 non-null object
NationalAccountsBaseYear                      205 non-null object
NationalAccountsReferenceYear                 54 non-null object
SnaPriceValuation                             198 non-null object
LendingCategory                               144 non-null object
OtherGroups                                   59 non-null object
SystemOfNationalAccounts                      214 non-null object
AlternativeConversionFactor                   47 non-null object
PppSurveyYear                                 191 non-null object
BalanceOfPaymentsManualInUse                  181 non-null object
ExternalDebtReportingStatus                   124 non-null object
SystemOfTrade                                 200 non-null object
GovernmentAccountingConcept                   161 non-null object
ImfDataDisseminationStandard                  183 non-null object
LatestPopulationCensus                        213 non-null object
LatestHouseholdSurvey                         147 non-null object
SourceOfMostRecentIncomeAndExpenditureData    158 non-null object
VitalRegistrationComplete                     112 non-null object
LatestAgriculturalCensus                      142 non-null object
LatestIndustrialData                          113 non-null float64
LatestTradeData                               186 non-null float64
LatestWaterWithdrawalData                     180 non-null float64
dtypes: float64(3), object(28)
memory usage: 59.9+ KB

In [18]:
df_country.describe()

C:\Users\Ben\Anaconda6\envs\gl-env\lib\site-packages\numpy\lib\function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

       LatestIndustrialData  LatestTradeData  LatestWaterWithdrawalData
count            113.000000       186.000000                 180.000000
mean            2009.079646      2011.854839                2003.983333
std                2.560488         2.779345                   4.938137
min             2001.000000      1995.000000                1975.000000
25%                     NaN              NaN                        NaN
50%                     NaN              NaN                        NaN
75%                     NaN              NaN                        NaN
max             2011.000000      2013.000000                2013.000000

In [5]:
df_country.head()

,CountryCode,ShortName,TableName,LongName,Alpha2Code,CurrencyUnit,SpecialNotes,Region,IncomeGroup,Wb2Code,...,GovernmentAccountingConcept,ImfDataDisseminationStandard,LatestPopulationCensus,LatestHouseholdSurvey,SourceOfMostRecentIncomeAndExpenditureData,VitalRegistrationComplete,LatestAgriculturalCensus,LatestIndustrialData,LatestTradeData,LatestWaterWithdrawalData
0,AFG,Afghanistan,Afghanistan,Islamic State of Afghanistan,AF,Afghan afghani,Fiscal year end: March 20; reporting period fo...,South Asia,Low income,AF,...,Consolidated central government,General Data Dissemination System (GDDS),1979,"Multiple Indicator Cluster Survey (MICS), 2010/11","Integrated household survey (IHS), 2008",NaN,2013/14,NaN,2013.0,2000.0
1,ALB,Albania,Albania,Republic of Albania,AL,Albanian lek,NaN,Europe & Central Asia,Upper middle income,AL,...,Budgetary central government,General Data Dissemination System (GDDS),2011,"Demographic and Health Survey (DHS), 2008/09",Living Standards Measurement Study Survey (LSM...,Yes,2012,2011.0,2013.0,2006.0
2,DZA,Algeria,Algeria,People's Democratic Republic of Algeria,DZ,Algerian dinar,NaN,Middle East & North Africa,Upper middle income,DZ,...,Budgetary central government,General Data Dissemination System (GDDS),2008,"Multiple Indicator Cluster Survey (MICS), 2012","Integrated household survey (IHS), 1995",NaN,NaN,2010.0,2013.0,2001.0
3,ASM,American Samoa,American Samoa,American Samoa,AS,U.S. dollar,NaN,East Asia & Pacific,Upper middle income,AS,...,NaN,NaN,2010,NaN,NaN,Yes,2007,NaN,NaN,NaN
4,ADO,Andorra,Andorra,Principality of Andorra,AD,Euro,NaN,Europe & Central Asia,High income: nonOECD,AD,...,NaN,NaN,2011. Population data compiled from administra...,NaN,NaN,Yes,NaN,NaN,2006.0,NaN

# CountryNotes.csv

In [ ]:
# TO DO
# EXPLAIN EACH FEATURE IN LIST
# FEATURE NAME       DESCRIPTION
# CountryCode        unique country code
# SeriesCode
# Description
# LatestWaterWithdrawalData

In [6]:
# now let's read in the same data using pandas to save it as a dataframe
filename = path + '\CountryNotes.csv'

df_country_notes = pd.read_csv(filename) # read in the csv file
df_country_notes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4857 entries, 0 to 4856
Data columns (total 3 columns):
Countrycode    4857 non-null object
Seriescode     4857 non-null object
Description    4857 non-null object
dtypes: object(3)
memory usage: 113.9+ KB

In [19]:
df_country_notes.describe()

,Countrycode,Seriescode,Description
count,4857,4857,4857
unique,215,259,433
top,ARG,SP.POP.GROW,Data sources : United Nations World Population...
freq,111,214,998

In [7]:
df_country_notes.head()

,Countrycode,Seriescode,Description
0,ABW,EG.EGY.PRIM.PP.KD,Sources: Estimated based on UN Energy Statisti...
1,ABW,EG.ELC.RNEW.ZS,Sources: UN Energy Statistics (2014)
2,ABW,EG.FEC.RNEW.ZS,Sources: UN Energy Statistics (2014)
3,ABW,SM.POP.NETM,Data sources : United Nations World Population...
4,ABW,SM.POP.TOTL,Estimates are derived from data on foreign-bor...

# database.sqlite

In [ ]:
# TO DO
# EXPLAIN EACH FEATURE IN LIST
# FEATURE NAME       DESCRIPTION
# CountryName        unique country name
# CountryCode        unique country code
# IndicatorName
# IndicatorCode
# Year
# Value

In [16]:
# now let's read in the same data using sql to save it as a dataframe
database = path + '\database.sqlite'
con = sqlite3.connect(database) # again this file is in the same directory
df_database_indicators = pd.read_sql('SELECT * FROM Indicators', con)  # the table name is Indicators
df_database_indicators.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5656458 entries, 0 to 5656457
Data columns (total 6 columns):
CountryName      object
CountryCode      object
IndicatorName    object
IndicatorCode    object
Year             int64
Value            float64
dtypes: float64(1), int64(1), object(4)
memory usage: 258.9+ MB

In [20]:
df_database_indicators.describe()

               Year         Value
count  5.656458e+06  5.656458e+06
mean   1.994464e+03  1.070501e+12
std    1.387895e+01  4.842469e+13
min    1.960000e+03 -9.824821e+15
25%    1.984000e+03  5.566242e+00
50%    1.997000e+03  6.357450e+01
75%    2.006000e+03  1.346722e+07
max    2.015000e+03  1.103367e+16

In [17]:
df_database_indicators.head()

,CountryName,CountryCode,IndicatorName,IndicatorCode,Year,Value
0,Arab World,ARB,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,1960,1.335609e+02
1,Arab World,ARB,Age dependency ratio (% of working-age populat...,SP.POP.DPND,1960,8.779760e+01
2,Arab World,ARB,"Age dependency ratio, old (% of working-age po...",SP.POP.DPND.OL,1960,6.634579e+00
3,Arab World,ARB,"Age dependency ratio, young (% of working-age ...",SP.POP.DPND.YG,1960,8.102333e+01
4,Arab World,ARB,Arms exports (SIPRI trend indicator values),MS.MIL.XPRT.KD,1960,3.000000e+06

# Footnotes.csv

In [ ]:
# TO DO
# EXPLAIN EACH FEATURE IN LIST
# FEATURE NAME       DESCRIPTION
# CountryName        unique country name
# SeriesCode         unique series code
# Year
# Descripton

In [32]:
# now let's read in the same data using pandas to save it as a dataframe
# Indicators.csv
filename = path + '\Footnotes.csv'
df_footnotes = pd.read_csv(filename) # read in the csv file
df_footnotes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 532415 entries, 0 to 532414
Data columns (total 4 columns):
Countrycode    532415 non-null object
Seriescode     532415 non-null object
Year           532415 non-null object
Description    532415 non-null object
dtypes: object(4)
memory usage: 16.2+ MB

In [33]:
df_footnotes.describe()

,Countrycode,Seriescode,Year,Description
count,532415,532415,532415,532415
unique,278,653,77,85052
top,LIC,SP.DYN.IMRT.IN,YR2010,UNESCO Institute for Statistics (UIS) estimate
freq,4074,10170,24179,59009

# Indicators.csv

In [ ]:
# TO DO
# EXPLAIN EACH FEATURE IN LIST
# FEATURE NAME       DESCRIPTION
# CountryName        unique country name
# CountryCode        unique country code
# IndicatorName
# IndicatorCode
# Year
# Value

In [21]:
# now let's read in the same data using pandas to save it as a dataframe
# Indicators.csv
filename = path + '\Indicators.csv'
df_indicators = pd.read_csv(filename) # read in the csv file
df_indicators.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5656458 entries, 0 to 5656457
Data columns (total 6 columns):
CountryName      object
CountryCode      object
IndicatorName    object
IndicatorCode    object
Year             int64
Value            float64
dtypes: float64(1), int64(1), object(4)
memory usage: 258.9+ MB

In [22]:
df_indicators.describe()

               Year         Value
count  5.656458e+06  5.656458e+06
mean   1.994464e+03  1.070501e+12
std    1.387895e+01  4.842469e+13
min    1.960000e+03 -9.824821e+15
25%    1.984000e+03  5.566242e+00
50%    1.997000e+03  6.357450e+01
75%    2.006000e+03  1.346722e+07
max    2.015000e+03  1.103367e+16

In [23]:
df_indicators.head()

,CountryName,CountryCode,IndicatorName,IndicatorCode,Year,Value
0,Arab World,ARB,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,1960,1.335609e+02
1,Arab World,ARB,Age dependency ratio (% of working-age populat...,SP.POP.DPND,1960,8.779760e+01
2,Arab World,ARB,"Age dependency ratio, old (% of working-age po...",SP.POP.DPND.OL,1960,6.634579e+00
3,Arab World,ARB,"Age dependency ratio, young (% of working-age ...",SP.POP.DPND.YG,1960,8.102333e+01
4,Arab World,ARB,Arms exports (SIPRI trend indicator values),MS.MIL.XPRT.KD,1960,3.000000e+06

In [14]:
# now let's read in the same data using pandas to save it as a dataframe
# Indicators.csv
path = 'data'
filename = path + '\Indicators.csv'

df_indicators = pd.read_csv(filename) # read in the csv file
df_indicators.head()
df_indicators.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5656458 entries, 0 to 5656457
Data columns (total 6 columns):
CountryName      object
CountryCode      object
IndicatorName    object
IndicatorCode    object
Year             int64
Value            float64
dtypes: float64(1), int64(1), object(4)
memory usage: 258.9+ MB

In [5]:
df_indicators.head()

,CountryName,CountryCode,IndicatorName,IndicatorCode,Year,Value
0,Arab World,ARB,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,1960,1.335609e+02
1,Arab World,ARB,Age dependency ratio (% of working-age populat...,SP.POP.DPND,1960,8.779760e+01
2,Arab World,ARB,"Age dependency ratio, old (% of working-age po...",SP.POP.DPND.OL,1960,6.634579e+00
3,Arab World,ARB,"Age dependency ratio, young (% of working-age ...",SP.POP.DPND.YG,1960,8.102333e+01
4,Arab World,ARB,Arms exports (SIPRI trend indicator values),MS.MIL.XPRT.KD,1960,3.000000e+06

# Series.csv

In [ ]:
# TO DO
# EXPLAIN EACH FEATURE IN LIST
# FEATURE NAME       DESCRIPTION
# SeriesCode         
# Topic
# ShortDefinition
# ....
# ....
# LicenseType

In [26]:
# now let's read in the same data using pandas to save it as a dataframe
# Series.csv
filename = path + '\Series.csv'
df_series = pd.read_csv(filename) # read in the csv file
df_series.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1345 entries, 0 to 1344
Data columns (total 20 columns):
SeriesCode                          1345 non-null object
Topic                               1345 non-null object
IndicatorName                       1345 non-null object
ShortDefinition                     118 non-null object
LongDefinition                      1345 non-null object
UnitOfMeasure                       7 non-null object
Periodicity                         1345 non-null object
BasePeriod                          77 non-null object
OtherNotes                          0 non-null float64
AggregationMethod                   1058 non-null object
LimitationsAndExceptions            711 non-null object
NotesFromOriginalSource             38 non-null object
GeneralComments                     281 non-null object
Source                              1345 non-null object
StatisticalConceptAndMethodology    773 non-null object
DevelopmentRelevance                575 non-null object
RelatedSourceLinks                  6 non-null object
OtherWebLinks                       0 non-null float64
RelatedIndicators                   0 non-null float64
LicenseType                         1345 non-null object
dtypes: float64(3), object(17)
memory usage: 210.2+ KB

In [27]:
df_series.describe()

       OtherNotes  OtherWebLinks  RelatedIndicators
count         0.0            0.0                0.0
mean          NaN            NaN                NaN
std           NaN            NaN                NaN
min           NaN            NaN                NaN
25%           NaN            NaN                NaN
50%           NaN            NaN                NaN
75%           NaN            NaN                NaN
max           NaN            NaN                NaN

In [7]:
df_series.head()

,SeriesCode,Topic,IndicatorName,ShortDefinition,LongDefinition,UnitOfMeasure,Periodicity,BasePeriod,OtherNotes,AggregationMethod,LimitationsAndExceptions,NotesFromOriginalSource,GeneralComments,Source,StatisticalConceptAndMethodology,DevelopmentRelevance,RelatedSourceLinks,OtherWebLinks,RelatedIndicators,LicenseType
0,BN.KLT.DINV.CD,Economic Policy & Debt: Balance of payments: C...,"Foreign direct investment, net (BoP, current US$)",NaN,Foreign direct investment are the net inflows ...,NaN,Annual,NaN,NaN,NaN,NaN,NaN,Note: Data are based on the sixth edition of t...,"International Monetary Fund, Balance of Paymen...",NaN,NaN,NaN,NaN,NaN,Open
1,BX.KLT.DINV.WD.GD.ZS,Economic Policy & Debt: Balance of payments: C...,"Foreign direct investment, net inflows (% of GDP)",NaN,Foreign direct investment are the net inflows ...,NaN,Annual,NaN,NaN,Weighted average,FDI data do not give a complete picture of int...,NaN,Note: Data starting from 2005 are based on the...,"International Monetary Fund, International Fin...",Data on equity flows are based on balance of p...,Private financial flows - equity and debt - ac...,NaN,NaN,NaN,Open
2,BX.KLT.DINV.CD.WD,Economic Policy & Debt: Balance of payments: C...,"Foreign direct investment, net inflows (BoP, c...",NaN,Foreign direct investment refers to direct inv...,NaN,Annual,NaN,NaN,Sum,FDI data do not give a complete picture of int...,NaN,Note: Data starting from 2005 are based on the...,"International Monetary Fund, Balance of Paymen...",Data on equity flows are based on balance of p...,Private financial flows - equity and debt - ac...,NaN,NaN,NaN,Open
3,BM.KLT.DINV.GD.ZS,Economic Policy & Debt: Balance of payments: C...,"Foreign direct investment, net outflows (% of ...",NaN,Foreign direct investment are the net inflows ...,NaN,Annual,NaN,NaN,Weighted average,NaN,NaN,Note: Data are based on the sixth edition of t...,"International Monetary Fund, International Fin...",NaN,NaN,NaN,NaN,NaN,Open
4,BN.TRF.KOGT.CD,Economic Policy & Debt: Balance of payments: C...,"Net capital account (BoP, current US$)",NaN,Net capital account records acquisitions and d...,NaN,Annual,NaN,NaN,NaN,NaN,NaN,Note: Data are based on the sixth edition of t...,"International Monetary Fund, Balance of Paymen...",NaN,NaN,NaN,NaN,NaN,Open

# SeriesNotes.csv

In [ ]:
# TO DO
# EXPLAIN EACH FEATURE IN LIST
# FEATURE NAME       DESCRIPTION
# SeriesCode         
# Year
# Description

In [29]:
# now let's read in the same data using pandas to save it as a dataframe
# SeriesNotes.csv
filename = path + '\SeriesNotes.csv'
df_series_notes = pd.read_csv(filename) # read in the csv file
df_series_notes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 369 entries, 0 to 368
Data columns (total 3 columns):
Seriescode     369 non-null object
Year           369 non-null object
Description    369 non-null object
dtypes: object(3)
memory usage: 8.7+ KB

In [30]:
df_series_notes.describe()

         Seriescode    Year                                        Description
count           369     369                                                369
unique           25      55                                                 68
top     SP.ADO.TFRT  YR2007  The sample was drawn from the manufacturing se...
freq             55      20                                                 72

In [31]:
df_series_notes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 369 entries, 0 to 368
Data columns (total 3 columns):
Seriescode     369 non-null object
Year           369 non-null object
Description    369 non-null object
dtypes: object(3)
memory usage: 8.7+ KB

# TO DO
# Build Global DataFrame