# Understanding the Data

# World Data Indicator Exploratory Data Analysis (EDA)

The World Data Indicator (WDI) data set has yet to be explored.  It is full of promise and curiosity to understand how the world data indicators are related in any way form or fashion.  From a data scientist point of view,  there is only one way to understand the data set.  This is, the data set is a gift that will remain a mystery until we unwrap it and do a thorough exploratory data analysis.


The WDI data set does **NOT** have the luxury of putting all of the data into one csv data file.   The WDI data set is composed of the following separate data sets:


* Country.csv
* CountryNotes.csv
* database.sqlite
* Footnotes.csv
* Indicators.csv
* Series.csv
* SeriesNotes.csv

Our goal is to create a global data frame which ties all of above data sets into one using Python's pandas libraries or SFrames.   This will later enable our team to easily explore and visualize the data set using simple Python programming techniques. 

Data is expensive and none of the initial data collected will be discarded.  Our team took the approach to analyze each data set and understand how the above data set's are related.

In [1]:
import sqlite3
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
# Path to where all of the data set files resides 
path = 'data'

# Country.csv

**CountryCode:** Country Codes. The country code table includes the WITS System country names for statistical purposes and both the International Standards Organization (ISO) 3-digit alphabetic codes and the United Nations Statistics Division (UNSD) 3-digit equivalent numeric codes. The names and codes are used in all of the three databases.
(http://wits.worldbank.org/wits/wits/witshelp/Content/Codes/Country_Codes.htm)
Example: AFG --> Afghanistan, ARG --> Argentina, GBR --> Great Britain, USA --> United States, ZWE --> Zimbabwe 


**ShortName:** Short name of the indicator.
               Example:  CPI is the short name for Consumer price index

**TableName:** Specific statistical table name

**LongName:** Long name of the indicator.
              Example:  Consumer price index (2005 = 100)

**Alpha2Code:**  Alpha-2 Code. ISO 3166-1 alpha-2 codes are two-letter country codes defined in ISO 3166-1, part of the ISO 3166 standard published by the International Organization for Standardization (ISO), to represent countries, dependent territories, and special areas of geographical interest. They are the most widely used of the country codes published by ISO (the others being alpha-3 and numeric), and are used most prominently for the Internet's country code top-level domains (with a few exceptions). They were first included as part of the ISO 3166 standard in its first edition in 1974. (https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2)

**CurrencyUnit:**  Currency Unit.  Local or national currency unit.

**SpecialNotes:**  Special Notes.   Special or technical notes.

**Region:** Geographic regions of the country 

**IncomeGroup:**  Classification by income

**Wb2Code:**

**NationalAccountsBaseYear:**  National accounts in aggregations based on the values in the base year

**NationalAccountsReferenceYear:** National accounts in aggregations based on the values in the reference year

**SnaPriceValuation:**   System of National Accounts, 1993 (SNA 93), European Commission, IMF, OECD, United Nations, World Bank price valuation at Value at Purchase (VAP)

**LendingCategory:**  Lending category.

**OtherGroups:** Other groups not listed in the lending category

**SystemOfNationalAccounts:**  System of National Accounts. The System of National Accounts, is a statistical framework that provides a comprehensive, consistent and flexible set of macroeconomic accounts for policy
making, analysis and research purposes. 

**AlternativeConversionFactor:**   Alternative Conversion Factor. The World Bank systematically assesses the appropriateness of official exchange rates as conversion factors. An alternative conversion factor is used when the official exchange rate is judged to diverge by an exceptionally large margin from the rate effectively applied to domestic transactions of foreign currencies and traded products. This applies to only a small number of countries. Alternative conversion factors are used in the Atlas methodology and elsewhere in the World Development Indicators as single-year conversion factors.

**PppSurveyYear:**  Public polling policy (PPP) in the survey year. The year or rolling year chosen to use a dedicated survey response tool for the completion of the annual fraud survey.

**BalanceOfPaymentsManualInUse:**  Balance of payments manual in use.  Current account balance is the sum of net trade (exports minus imports) in goods, services, and income plus net current transfers.

**ExternalDebtReportingStatus:**  External Debt Reporting Status (DRS).

The DRS system captures detailed information at loan level for external borrowing of reporting countries using standardized set of forms.

Form 1:	Description of Individual External Public Debt and Private Debt Publicly Guaranteed.
Form 1a:	Schedule of Drawings and Principal and Interest Payments for Individual External Public Debt and Private Debt Publicly Guaranteed.
Form 2:	Individual External Public Debts and Private Debts Publicly Guaranteed Current Status and Transactions during Period.
Form 3:	Revisions of Forms 1 and 2.
Form 4:	External Private Non-Guaranteed Debt. 

Public and publicly guaranteed debt is reported on quarterly basis through form 1 and form 2. Specifically, the new loan commitments are reported on Forms 1, and when appropriate, 1A (Schedule of Drawings and Principal and Interest Payments); the loan transactions are reported once a year on Form 2 (Current Status and Transactions). Form 3 is used to report corrections to data originally reported in Forms 1 and 2. Forms 1 and 1A are submitted quarterly, within 30 days of the close of the quarter. Form 2 is submitted annually, by March 31 of the year following that for which the report is made.

Private non-guaranteed debt is reported annually, in a more aggregate way, on Form 4, which  is  submitted annually, by March 31 of the year following the report year.

**SystemOfTrade:** System of Trade

There are broadly two approaches, closely linked with customs procedures, used for the measurement of international trade in goods. These are the general trade system and the special trade system.

The general trade system is the wider concept and under it the recorded aggregates include all goods entering or leaving the economic territory of a country with the exception of simple transit trade. In particular, all goods which are received into customs warehouses are recorded as imports at that stage whether or not they subsequently go into free circulation in the Member State of receipt. Similarly, outgoing goods from customs warehouses are included in the general trade aggregates at the time they leave the Member State.

The special trade system, on the other hand, is a narrower concept. Goods from a foreign country which are received into customs warehouses are not recorded in the special trade aggregates unless they subsequently go into free circulation in the country of receipt (or are placed under the customs procedures for inward processing or processing under customs control). Similarly, outgoing goods from customs warehouses are not recorded as exports. 

**GovernmentAccountingConcept:** Government accounting is the process of recording, analyzing, classifying, summarizing communicating and interpreting financial information about government in aggregate and in detail reflecting transactions and other economic events involving the receipt, spending, transfer, usability and disposition of assets and liabilities.  The purposes of government accounting are:

•	To carry out the financial business of government in a timely, efficient and reliable manner (e.g. to make payments, settle liabilities, collect sums due, buy and sell assets etc.) subject to necessary financial controls.

•	To keep systematic, easily accessible accounting and documentary records as evidence of past transactions and current financial status, so that detailed transactions can be identified and traced and all aggregates can be conveniently broken down into their constituent parts.

•	To provide periodic financial statements, containing appropriately classified financial information, as a basis for (a) stewardship and accountability and (b) decision-making.

•	To maintain financial records suitable for budgetary control, internal control and the needs of auditors.

•	To provide means for effective management of government assets, liabilities, expenditures and revenues.


**ImfDataDisseminationStandard:**  IMF Standards for Data Dissemination

The IMF has taken steps to enhance member country transparency and openness, including setting voluntary standards for dissemination of economic and financial data. The Special Data Dissemination Standard (SDDS) was established in 1996 to guide members that have, or might seek, access to international capital markets in providing their economic and financial data to the public. The General Data Dissemination System (GDDS) was established in 1997 for member countries with less developed statistical systems as a framework for evaluating their needs for data improvement and setting priorities. In 2012, the SDDS Plus was created as an upper tier of the IMF’s Data Standards Initiatives to help address data gaps identified during the global financial crisis.  

Data dissemination standards enhance the availability of timely and comprehensive statistics, which contributes to sound macroeconomic policies and the efficient functioning of financial market


**LatestPopulationCensus:**  Latest Population Census.  This could be listed as the year of the census or notes about when the census was taken.

**LatestHouseholdSurvey:**  Latest Household Survey

Household surveys have been an invaluable source of data for the Millennium Development Goals (MDGs) due to the flexibility of their framework. Surveys have included questions relating to goals such as eradicating poverty, reducing child and maternal mortality or achieving universal primary education, which in turn have helped to monitor progress towards these goals. The same flexibility may be needed to monitor progress towards the extended Sustainable Development Goals (SDGs). The SDGs include goals even more difficult to monitor, such as gender equality and inclusive communities.

There are three main household surveys used in developing countries across the world.

Examples:

Acronym: DHS, Name: Demographic and Health Survey, Agency: United States Agency for International Development(USAID)

Acronym: MICS, Name: Multiple Indicator Cluster Survey, Agency: United Nations Children’s Fund (UNICEF)

Acronym: LSMS, Name: Living Standards Measurement Study, Agency: World Bank (WB)

**SourceOfMostRecentIncomeAndExpenditureData:**   Source of Most Recent Income and Expenditure Data

Examples:  IHS, LSMS, BS/ES

**VitalRegistrationComplete:**  Vital Registration Complete (Yes/No)

**LatestAgriculturalCensus:**  Year when the "Latest gricultural Census" was completed 

**LatestIndustrialData:**  Year when the "Latest Industrial Data" was completed 

**LatestWaterWithdrawalData:**  Year when the "Latest Water Withdrawal Data" was completed

In [9]:
# now let's read in the same data using pandas to save it as a dataframe
filename = path + '\Country.csv'

df_country = pd.read_csv(filename) # read in the csv file
df_country.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 247 entries, 0 to 246
Data columns (total 31 columns):
CountryCode                                   247 non-null object
ShortName                                     247 non-null object
TableName                                     247 non-null object
LongName                                      247 non-null object
Alpha2Code                                    244 non-null object
CurrencyUnit                                  214 non-null object
SpecialNotes                                  164 non-null object
Region                                        214 non-null object
IncomeGroup                                   214 non-null object
Wb2Code                                       246 non-null object
NationalAccountsBaseYear                      205 non-null object
NationalAccountsReferenceYear                 54 non-null object
SnaPriceValuation                             198 non-null object
LendingCategory                               144 non-null object
OtherGroups                                   59 non-null object
SystemOfNationalAccounts                      214 non-null object
AlternativeConversionFactor                   47 non-null object
PppSurveyYear                                 191 non-null object
BalanceOfPaymentsManualInUse                  181 non-null object
ExternalDebtReportingStatus                   124 non-null object
SystemOfTrade                                 200 non-null object
GovernmentAccountingConcept                   161 non-null object
ImfDataDisseminationStandard                  183 non-null object
LatestPopulationCensus                        213 non-null object
LatestHouseholdSurvey                         147 non-null object
SourceOfMostRecentIncomeAndExpenditureData    158 non-null object
VitalRegistrationComplete                     112 non-null object
LatestAgriculturalCensus                      142 non-null object
LatestIndustrialData                          113 non-null float64
LatestTradeData                               186 non-null float64
LatestWaterWithdrawalData                     180 non-null float64
dtypes: float64(3), object(28)
memory usage: 59.9+ KB

In [10]:
df_country.describe()

C:\Users\Ben\Anaconda6\envs\gl-env\lib\site-packages\numpy\lib\function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

       LatestIndustrialData  LatestTradeData  LatestWaterWithdrawalData
count            113.000000       186.000000                 180.000000
mean            2009.079646      2011.854839                2003.983333
std                2.560488         2.779345                   4.938137
min             2001.000000      1995.000000                1975.000000
25%                     NaN              NaN                        NaN
50%                     NaN              NaN                        NaN
75%                     NaN              NaN                        NaN
max             2011.000000      2013.000000                2013.000000

In [11]:
df_country.head()

,CountryCode,ShortName,TableName,LongName,Alpha2Code,CurrencyUnit,SpecialNotes,Region,IncomeGroup,Wb2Code,...,GovernmentAccountingConcept,ImfDataDisseminationStandard,LatestPopulationCensus,LatestHouseholdSurvey,SourceOfMostRecentIncomeAndExpenditureData,VitalRegistrationComplete,LatestAgriculturalCensus,LatestIndustrialData,LatestTradeData,LatestWaterWithdrawalData
0,AFG,Afghanistan,Afghanistan,Islamic State of Afghanistan,AF,Afghan afghani,Fiscal year end: March 20; reporting period fo...,South Asia,Low income,AF,...,Consolidated central government,General Data Dissemination System (GDDS),1979,"Multiple Indicator Cluster Survey (MICS), 2010/11","Integrated household survey (IHS), 2008",NaN,2013/14,NaN,2013.0,2000.0
1,ALB,Albania,Albania,Republic of Albania,AL,Albanian lek,NaN,Europe & Central Asia,Upper middle income,AL,...,Budgetary central government,General Data Dissemination System (GDDS),2011,"Demographic and Health Survey (DHS), 2008/09",Living Standards Measurement Study Survey (LSM...,Yes,2012,2011.0,2013.0,2006.0
2,DZA,Algeria,Algeria,People's Democratic Republic of Algeria,DZ,Algerian dinar,NaN,Middle East & North Africa,Upper middle income,DZ,...,Budgetary central government,General Data Dissemination System (GDDS),2008,"Multiple Indicator Cluster Survey (MICS), 2012","Integrated household survey (IHS), 1995",NaN,NaN,2010.0,2013.0,2001.0
3,ASM,American Samoa,American Samoa,American Samoa,AS,U.S. dollar,NaN,East Asia & Pacific,Upper middle income,AS,...,NaN,NaN,2010,NaN,NaN,Yes,2007,NaN,NaN,NaN
4,ADO,Andorra,Andorra,Principality of Andorra,AD,Euro,NaN,Europe & Central Asia,High income: nonOECD,AD,...,NaN,NaN,2011. Population data compiled from administra...,NaN,NaN,Yes,NaN,NaN,2006.0,NaN

# CountryNotes.csv

**FEATURE NAME:**   **DESCRIPTION**

**CountryCode:**    unique country code identifying the country or region

**SeriesCode:**     unique series code describing what the funds are used for

    Example:  SM.POP.NETM, SP.DYN.AMRT.FE, EG.EGY.PRIM.PP.KD
    
    Topic (2 digits)
    General Subject (3 digits)
    Specific Subject (4 digits)
    Extensions (2 digits each)
    
    For example: DT.DIS.PRVT.CD would read "External debt disbursements by private creditors in current US dollars" 
    
The Topic code identifies a broad grouping based on functional similarities. All national accounts items begin with N; balance of payments with B; external debt indicators with D, social indicators with S, etc. Two-digit topic codes permit a finer breakdown of data at the highest level. For example, NE identifies national accounts expenditures, BN identifies balance of payments net items, and SH identifies social health indicators.

The General Subject code specifies a broad subject area within a particular topic. Examples of general subjects are exports (EXP) in the national accounts or transfers (TRF) in the balance of payments.

The Specific Subject code further identifies a particular indicator. For example, private nonguaranteed debt (DPNG) and official creditors (OFFT) are specific subjects under a particular general debt subject such as disbursements (DIS) or interest payments (INT).

The extension fields (no more than three) are available for further clarification, as required. Examples are a breakdown of male (MA) and female (FE), current local currency (CN), constant local currency (KN), current US dollars (CD) and constant US dollars (KD), and data sources such as the World Trade Organization (WT) or the United Nations (UN). The extension ZS is frequently used to denote a variable calculated as a share of a total; and ZG denotes a growth rate. An extension such as GD (for GDP) or EX (for exports) may be used to designate the denominator of a derived series.

Please note that creating CETS codes is not an exact science. Though the Data Group has the above guidelines, there have been individual interpretations through the years and at times series have been coded inconsistently or incorrectly. Social and environmental indicators in particular are not as easily coded as some of the more structured topics such as national accounts and external debt. Series names may have changed, and the code—which we have retained—may not match exactly with the new name. Also some components may not be unique. They may refer to different subjects depending on the main topic code. When creating new codes, we recommend using the current codes as a guide if they share a common component. It is also important to anticipate possible future codes for the same general subject so the proper structure is in place.


**Description:** Detailed description describing what the funds are used for

In [12]:
# now let's read in the same data using pandas to save it as a dataframe
filename = path + '\CountryNotes.csv'

df_country_notes = pd.read_csv(filename) # read in the csv file
df_country_notes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4857 entries, 0 to 4856
Data columns (total 3 columns):
Countrycode    4857 non-null object
Seriescode     4857 non-null object
Description    4857 non-null object
dtypes: object(3)
memory usage: 113.9+ KB

In [13]:
df_country_notes.describe()

,Countrycode,Seriescode,Description
count,4857,4857,4857
unique,215,259,433
top,ARG,SP.POP.GROW,Data sources : United Nations World Population...
freq,111,214,998

In [14]:
df_country_notes.head()

,Countrycode,Seriescode,Description
0,ABW,EG.EGY.PRIM.PP.KD,Sources: Estimated based on UN Energy Statisti...
1,ABW,EG.ELC.RNEW.ZS,Sources: UN Energy Statistics (2014)
2,ABW,EG.FEC.RNEW.ZS,Sources: UN Energy Statistics (2014)
3,ABW,SM.POP.NETM,Data sources : United Nations World Population...
4,ABW,SM.POP.TOTL,Estimates are derived from data on foreign-bor...

# database.sqlite

**FEATURE NAME:**   **DESCRIPTION**

**CountryName:**    unique country name, country names are mixed with regions or non-country names

**CountryCode:**      unique country code identifying the country or region
    
**IndicatorName:**    unique indicator name describing what the funds are used for

**IndicatorCode:**      unique indicator code identifying the indicator

    Example:  AG.LND.FRST.K2
    
    Topic (2 digits)
    General Subject (3 digits)
    Specific Subject (4 digits)
    Extensions (2 digits each) 

**Year:** Fiscal year the funds were disbursed

**Description:** Detailed description describing what the funds are used for

In [15]:
# now let's read in the same data using sql to save it as a dataframe
database = path + '\database.sqlite'
con = sqlite3.connect(database) # again this file is in the same directory
df_database_indicators = pd.read_sql('SELECT * FROM Indicators', con)  # the table name is Indicators
df_database_indicators.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5656458 entries, 0 to 5656457
Data columns (total 6 columns):
CountryName      object
CountryCode      object
IndicatorName    object
IndicatorCode    object
Year             int64
Value            float64
dtypes: float64(1), int64(1), object(4)
memory usage: 258.9+ MB

In [16]:
df_database_indicators.describe()

               Year         Value
count  5.656458e+06  5.656458e+06
mean   1.994464e+03  1.070501e+12
std    1.387895e+01  4.842469e+13
min    1.960000e+03 -9.824821e+15
25%    1.984000e+03  5.566242e+00
50%    1.997000e+03  6.357450e+01
75%    2.006000e+03  1.346722e+07
max    2.015000e+03  1.103367e+16

In [17]:
df_database_indicators.head()

,CountryName,CountryCode,IndicatorName,IndicatorCode,Year,Value
0,Arab World,ARB,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,1960,1.335609e+02
1,Arab World,ARB,Age dependency ratio (% of working-age populat...,SP.POP.DPND,1960,8.779760e+01
2,Arab World,ARB,"Age dependency ratio, old (% of working-age po...",SP.POP.DPND.OL,1960,6.634579e+00
3,Arab World,ARB,"Age dependency ratio, young (% of working-age ...",SP.POP.DPND.YG,1960,8.102333e+01
4,Arab World,ARB,Arms exports (SIPRI trend indicator values),MS.MIL.XPRT.KD,1960,3.000000e+06

# Footnotes.csv

**FEATURE NAME:**   **DESCRIPTION**

**CountryName:**    unique country name, country names are mixed with regions or non-country names

**SeriesCode:**      unique series code describing what the funds are used for

    Example:  AG.LND.FRST.K2
    
    Topic (2 digits)
    General Subject (3 digits)
    Specific Subject (4 digits)
    Extensions (2 digits each)

**Year:** Fiscal year the funds were disbursed

**Description:** Detailed description describing what the funds are used for

In [18]:
# now let's read in the same data using pandas to save it as a dataframe
# Indicators.csv
filename = path + '\Footnotes.csv'
df_footnotes = pd.read_csv(filename) # read in the csv file
df_footnotes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 532415 entries, 0 to 532414
Data columns (total 4 columns):
Countrycode    532415 non-null object
Seriescode     532415 non-null object
Year           532415 non-null object
Description    532415 non-null object
dtypes: object(4)
memory usage: 16.2+ MB

In [33]:
df_footnotes.describe()

,Countrycode,Seriescode,Year,Description
count,532415,532415,532415,532415
unique,278,653,77,85052
top,LIC,SP.DYN.IMRT.IN,YR2010,UNESCO Institute for Statistics (UIS) estimate
freq,4074,10170,24179,59009

# Indicators.csv

In [3]:
# now let's read in the same data using pandas to save it as a dataframe
# Indicators.csv

filename = path + '\Indicators.csv'
df_indicators = pd.read_csv(filename) # read in the csv file
df_indicators.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5656458 entries, 0 to 5656457
Data columns (total 6 columns):
CountryName      object
CountryCode      object
IndicatorName    object
IndicatorCode    object
Year             int64
Value            float64
dtypes: float64(1), int64(1), object(4)
memory usage: 258.9+ MB

In [4]:
df_indicators.describe()

               Year         Value
count  5.656458e+06  5.656458e+06
mean   1.994464e+03  1.070501e+12
std    1.387895e+01  4.842469e+13
min    1.960000e+03 -9.824821e+15
25%    1.984000e+03  5.566242e+00
50%    1.997000e+03  6.357450e+01
75%    2.006000e+03  1.346722e+07
max    2.015000e+03  1.103367e+16

In [5]:
df_indicators.head()

,CountryName,CountryCode,IndicatorName,IndicatorCode,Year,Value
0,Arab World,ARB,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,1960,1.335609e+02
1,Arab World,ARB,Age dependency ratio (% of working-age populat...,SP.POP.DPND,1960,8.779760e+01
2,Arab World,ARB,"Age dependency ratio, old (% of working-age po...",SP.POP.DPND.OL,1960,6.634579e+00
3,Arab World,ARB,"Age dependency ratio, young (% of working-age ...",SP.POP.DPND.YG,1960,8.102333e+01
4,Arab World,ARB,Arms exports (SIPRI trend indicator values),MS.MIL.XPRT.KD,1960,3.000000e+06

# Series.csv

**SeriesCode:**     unique series code describing what the funds are used for

    Example:  SM.POP.NETM, SP.DYN.AMRT.FE, EG.EGY.PRIM.PP.KD
    
    Topic (2 digits)
    General Subject (3 digits)
    Specific Subject (4 digits)
    Extensions (2 digits each)
    
    For example: DT.DIS.PRVT.CD would read "External debt disbursements by private creditors in current US dollars" 
    
The Topic code identifies a broad grouping based on functional similarities. All national accounts items begin with N; balance of payments with B; external debt indicators with D, social indicators with S, etc. Two-digit topic codes permit a finer breakdown of data at the highest level. For example, NE identifies national accounts expenditures, BN identifies balance of payments net items, and SH identifies social health indicators.

The General Subject code specifies a broad subject area within a particular topic. Examples of general subjects are exports (EXP) in the national accounts or transfers (TRF) in the balance of payments.

The Specific Subject code further identifies a particular indicator. For example, private nonguaranteed debt (DPNG) and official creditors (OFFT) are specific subjects under a particular general debt subject such as disbursements (DIS) or interest payments (INT).

The extension fields (no more than three) are available for further clarification, as required. Examples are a breakdown of male (MA) and female (FE), current local currency (CN), constant local currency (KN), current US dollars (CD) and constant US dollars (KD), and data sources such as the World Trade Organization (WT) or the United Nations (UN). The extension ZS is frequently used to denote a variable calculated as a share of a total; and ZG denotes a growth rate. An extension such as GD (for GDP) or EX (for exports) may be used to designate the denominator of a derived series.

Please note that creating CETS codes is not an exact science. Though the Data Group has the above guidelines, there have been individual interpretations through the years and at times series have been coded inconsistently or incorrectly. Social and environmental indicators in particular are not as easily coded as some of the more structured topics such as national accounts and external debt. Series names may have changed, and the code—which we have retained—may not match exactly with the new name. Also some components may not be unique. They may refer to different subjects depending on the main topic code. When creating new codes, we recommend using the current codes as a guide if they share a common component. It is also important to anticipate possible future codes for the same general subject so the proper structure is in place.

**Topic**   WDI is the primary World Bank collection of development indicators, compiled from officially-recognized international sources. It presents the current, global development data available, and includes national, regional and global estimates. GDF focuses on financial flows, trends in external debt, and other major financial indicators for developing countries. Includes over 200 time series indicators from 1970 to 2009, for most reporting countries.

**IndicatorName** Indicator Name. Unique indicator name describing what the funds are used for

**ShortDefinition**   Short Definition. Short definition or Executive statement. 

**LongDefinition**   Long Definition.  Long Definition or detailed statement

**UnitOfMeasure**    Unit Of Measure

**Periodicity**  Reporting cycle.

**BasePeriod**  Base Period

**OtherNotes**  Other Notes.  Other detailed notes.

**AggregationMethod**  Aggregation Method.  Aggregates are based on the World Bank’s regional and income classification of economies. Because of missing data, aggregates for groups of economies should be treated as approximations of unknown totals or average values. Regional and income group aggregates are based on the largest available set of data. The aggregation rules are intended to yield estimates for a consistent set of economies from one period to the next and for all indicators. Small differences between sums of subgroup aggregates and overall totals and averages may occur because of the approximations used. In addition, compilation errors and data reporting practices may cause discrepancies in theoretically identical aggregates such as world exports and world imports.

Examples: Weighted Average, Sum, Gap-filled total

**LimitationsAndExceptions**  Limitations And Exceptions.  Details of limitations and exceptions.

**NotesFromOriginalSource**  Notes From Original Source.

**GeneralComments**  General Comments.

**Source**  Source of the data.

**StatisticalConceptAndMethodology**  Statistical Concept And Methodology

**DevelopmentRelevance**   Development Revelance

**RelatedSourceLinks**  Related Source Links

**OtherWebLinks**   Other Web Links

**RelatedIndicators**  Related Indicators

**LicenseType**  License Type

In [26]:
# now let's read in the same data using pandas to save it as a dataframe
# Series.csv
filename = path + '\Series.csv'
df_series = pd.read_csv(filename) # read in the csv file
df_series.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1345 entries, 0 to 1344
Data columns (total 20 columns):
SeriesCode                          1345 non-null object
Topic                               1345 non-null object
IndicatorName                       1345 non-null object
ShortDefinition                     118 non-null object
LongDefinition                      1345 non-null object
UnitOfMeasure                       7 non-null object
Periodicity                         1345 non-null object
BasePeriod                          77 non-null object
OtherNotes                          0 non-null float64
AggregationMethod                   1058 non-null object
LimitationsAndExceptions            711 non-null object
NotesFromOriginalSource             38 non-null object
GeneralComments                     281 non-null object
Source                              1345 non-null object
StatisticalConceptAndMethodology    773 non-null object
DevelopmentRelevance                575 non-null object
RelatedSourceLinks                  6 non-null object
OtherWebLinks                       0 non-null float64
RelatedIndicators                   0 non-null float64
LicenseType                         1345 non-null object
dtypes: float64(3), object(17)
memory usage: 210.2+ KB

In [27]:
df_series.describe()

       OtherNotes  OtherWebLinks  RelatedIndicators
count         0.0            0.0                0.0
mean          NaN            NaN                NaN
std           NaN            NaN                NaN
min           NaN            NaN                NaN
25%           NaN            NaN                NaN
50%           NaN            NaN                NaN
75%           NaN            NaN                NaN
max           NaN            NaN                NaN

In [7]:
df_series.head()

,SeriesCode,Topic,IndicatorName,ShortDefinition,LongDefinition,UnitOfMeasure,Periodicity,BasePeriod,OtherNotes,AggregationMethod,LimitationsAndExceptions,NotesFromOriginalSource,GeneralComments,Source,StatisticalConceptAndMethodology,DevelopmentRelevance,RelatedSourceLinks,OtherWebLinks,RelatedIndicators,LicenseType
0,BN.KLT.DINV.CD,Economic Policy & Debt: Balance of payments: C...,"Foreign direct investment, net (BoP, current US$)",NaN,Foreign direct investment are the net inflows ...,NaN,Annual,NaN,NaN,NaN,NaN,NaN,Note: Data are based on the sixth edition of t...,"International Monetary Fund, Balance of Paymen...",NaN,NaN,NaN,NaN,NaN,Open
1,BX.KLT.DINV.WD.GD.ZS,Economic Policy & Debt: Balance of payments: C...,"Foreign direct investment, net inflows (% of GDP)",NaN,Foreign direct investment are the net inflows ...,NaN,Annual,NaN,NaN,Weighted average,FDI data do not give a complete picture of int...,NaN,Note: Data starting from 2005 are based on the...,"International Monetary Fund, International Fin...",Data on equity flows are based on balance of p...,Private financial flows - equity and debt - ac...,NaN,NaN,NaN,Open
2,BX.KLT.DINV.CD.WD,Economic Policy & Debt: Balance of payments: C...,"Foreign direct investment, net inflows (BoP, c...",NaN,Foreign direct investment refers to direct inv...,NaN,Annual,NaN,NaN,Sum,FDI data do not give a complete picture of int...,NaN,Note: Data starting from 2005 are based on the...,"International Monetary Fund, Balance of Paymen...",Data on equity flows are based on balance of p...,Private financial flows - equity and debt - ac...,NaN,NaN,NaN,Open
3,BM.KLT.DINV.GD.ZS,Economic Policy & Debt: Balance of payments: C...,"Foreign direct investment, net outflows (% of ...",NaN,Foreign direct investment are the net inflows ...,NaN,Annual,NaN,NaN,Weighted average,NaN,NaN,Note: Data are based on the sixth edition of t...,"International Monetary Fund, International Fin...",NaN,NaN,NaN,NaN,NaN,Open
4,BN.TRF.KOGT.CD,Economic Policy & Debt: Balance of payments: C...,"Net capital account (BoP, current US$)",NaN,Net capital account records acquisitions and d...,NaN,Annual,NaN,NaN,NaN,NaN,NaN,Note: Data are based on the sixth edition of t...,"International Monetary Fund, Balance of Paymen...",NaN,NaN,NaN,NaN,NaN,Open

# SeriesNotes.csv

**FEATURE NAME:**   **DESCRIPTION**

**SeriesCode:**     unique series code describing what the funds are used for

    Example:  SM.POP.NETM, SP.DYN.AMRT.FE, EG.EGY.PRIM.PP.KD
    
    Topic (2 digits)
    General Subject (3 digits)
    Specific Subject (4 digits)
    Extensions (2 digits each)

**Year:**  Year the funds were dispered.

**Description:** Detailed description describing what the funds are used for

In [5]:
# now let's read in the same data using pandas to save it as a dataframe
# SeriesNotes.csv
filename = path + '\SeriesNotes.csv'
df_series_notes = pd.read_csv(filename) # read in the csv file
df_series_notes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 369 entries, 0 to 368
Data columns (total 3 columns):
Seriescode     369 non-null object
Year           369 non-null object
Description    369 non-null object
dtypes: object(3)
memory usage: 8.7+ KB

In [7]:
df_series_notes.head()

,Seriescode,Year,Description
0,SP.ADO.TFRT,YR1960,Interpolated using data for 1957 and 1962.
1,SP.DYN.AMRT.FE,YR1960,"Interpolated using data for 1957 and 1962, if ..."
2,SP.DYN.AMRT.MA,YR1960,"Interpolated using data for 1957 and 1962, if ..."
3,SP.DYN.TO65.FE.ZS,YR1960,Interpolated using data for 1957 and 1962.
4,SP.DYN.TO65.MA.ZS,YR1960,Interpolated using data for 1957 and 1962.

In [30]:
df_series_notes.describe()

         Seriescode    Year                                        Description
count           369     369                                                369
unique           25      55                                                 68
top     SP.ADO.TFRT  YR2007  The sample was drawn from the manufacturing se...
freq             55      20                                                 72

In [31]:
df_series_notes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 369 entries, 0 to 368
Data columns (total 3 columns):
Seriescode     369 non-null object
Year           369 non-null object
Description    369 non-null object
dtypes: object(3)
memory usage: 8.7+ KB

In [5]:
# Gene's code
df_us = df_indicators[df_indicators['CountryCode'] == 'USA']
df_rus = df_indicators[df_indicators['CountryCode'] == 'RUS']
df_chi = df_indicators[df_indicators['CountryName'] == 'China']

In [6]:
frames = [df_us, df_rus, df_chi]
df_3 = pd.concat(frames)
df_3[df_3['IndicatorCode']=='SP.ADO.TFRT']

,CountryName,CountryCode,IndicatorName,IndicatorCode,Year,Value
22220,United States,USA,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,1960,84.9872
48687,United States,USA,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,1961,82.7346
77063,United States,USA,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,1962,80.4820
105680,United States,USA,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,1963,77.9506
134718,United States,USA,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,1964,75.4192
166648,United States,USA,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,1965,72.8878
198016,United States,USA,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,1966,70.3564
230733,United States,USA,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,1967,67.8250
263289,United States,USA,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,1968,66.4660
296274,United States,USA,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,1969,65.1070
357910,United States,USA,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,1970,63.7480
425886,United States,USA,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,1971,62.3890
495679,United States,USA,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,1972,61.0300
565104,United States,USA,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,1973,59.3726
635182,United States,USA,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,1974,57.7152
707658,United States,USA,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,1975,56.0578
781073,United States,USA,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,1976,54.4004
856731,United States,USA,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,1977,52.7430
932392,United States,USA,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,1978,52.5098
1008223,United States,USA,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,1979,52.2766
1089482,United States,USA,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,1980,52.0434
1173411,United States,USA,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,1981,51.8102
1258608,United States,USA,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,1982,51.5770
1343867,United States,USA,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,1983,51.9174
1429770,United States,USA,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,1984,52.2578
1517209,United States,USA,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,1985,52.5982
1605077,United States,USA,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,1986,52.9386
1694472,United States,USA,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,1987,53.2790
1783944,United States,USA,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,1988,54.5456
1876459,United States,USA,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,1989,55.8122
...,...,...,...,...,...,...
1458776,China,CHN,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,1985,21.5376
1546250,China,CHN,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,1986,22.6268
1634583,China,CHN,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,1987,23.7160
1723744,China,CHN,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,1988,22.4152
1814461,China,CHN,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,1989,21.1144
1914621,China,CHN,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,1990,19.8136
2031742,China,CHN,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,1991,18.5128
2148703,China,CHN,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,1992,17.2120
2271174,China,CHN,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,1993,15.7114
2395450,China,CHN,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,1994,14.2108
2523414,China,CHN,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,1995,12.7102
2658384,China,CHN,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,1996,11.2096
2793985,China,CHN,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,1997,9.7090
2930688,China,CHN,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,1998,9.3968
3068926,China,CHN,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,1999,9.0846
3215182,China,CHN,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,2000,8.7724
3368465,China,CHN,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,2001,8.4602
3519936,China,CHN,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,2002,8.1480
3674833,China,CHN,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,2003,8.0894
3829156,China,CHN,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,2004,8.0308
3994128,China,CHN,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,2005,7.9722
4173901,China,CHN,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,2006,7.9136
4352089,China,CHN,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,2007,7.8550
4532513,China,CHN,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,2008,7.7882
4712066,China,CHN,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,2009,7.7214
4893283,China,CHN,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,2010,7.6546
5076879,China,CHN,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,2011,7.5878
5252639,China,CHN,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,2012,7.5210
5422728,China,CHN,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,2013,7.4344
5564258,China,CHN,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,2014,7.3478

In [8]:
pd.pivot_table(df_3,index=["IndicatorCode"])

                                 Value         Year
IndicatorCode
AG.AGR.TRAC.NO            2.452673e+06  1985.495238
AG.CON.FERT.PT.ZS         6.806561e+01  2007.500000
AG.CON.FERT.ZS            1.553396e+02  2007.500000
AG.LND.AGRI.K2            4.025522e+06  1989.664062
AG.LND.AGRI.ZS            4.165708e+01  1989.664062
AG.LND.ARBL.HA            1.402063e+08  1989.664062
AG.LND.ARBL.HA.PC         4.987919e-01  1989.664062
AG.LND.ARBL.ZS            1.416292e+01  1989.664062
AG.LND.CREL.HA            7.099756e+07  1989.664062
AG.LND.CROP.ZS            4.270104e-01  1989.664062
AG.LND.EL5M.ZS            1.668372e+00  1995.000000
AG.LND.FRST.K2            4.251769e+06  2001.147059
AG.LND.FRST.ZS            3.384221e+01  2001.647887
AG.LND.IRIG.AG.ZS         4.564412e+00  2005.666667
AG.LND.PRCP.MM            6.360000e+02  1992.200000
AG.LND.TOTL.K2            1.164396e+07  1987.500000
AG.LND.TRAC.ZS            1.452568e+02  1985.495238
AG.PRD.CREL.MT            2.717173e+08  1989.664062
AG.PRD.CROP.XD            7.395082e+01  1987.251701
AG.PRD.FOOD.XD            7.561884e+01  1987.251701
AG.PRD.LVSK.XD            7.730449e+01  1987.251701
AG.SRF.TOTL.K2            1.210565e+07  1987.500000
AG.YLD.CREL.KG            3.782620e+03  1989.664062
BG.GSR.NFSV.GD.ZS         7.225116e+00  2009.344828
BM.GSR.CMCP.ZS            3.886303e+01  2009.344828
BM.GSR.FCTY.CD            2.716125e+11  2009.344828
BM.GSR.GNFS.CD            1.368636e+12  2009.344828
BM.GSR.INSF.ZS            1.000625e+01  2009.344828
BM.GSR.MRCH.CD            1.142917e+12  2009.344828
BM.GSR.NFSV.CD            2.257194e+11  2009.344828
...                                ...          ...
TX.VAL.MANF.ZS.UN         6.469940e+01  1994.254902
TX.VAL.MMTL.ZS.UN         3.654530e+00  1994.254902
TX.VAL.MRCH.AL.ZS         3.585291e+00  1992.818966
TX.VAL.MRCH.CD.WT         3.849976e+11  1989.725191
TX.VAL.MRCH.HI.ZS         7.367472e+01  1992.818966
TX.VAL.MRCH.OR.ZS         2.152790e+01  1992.818966
TX.VAL.MRCH.R1.ZS         5.537584e+00  1992.818966
TX.VAL.MRCH.R2.ZS         6.910686e+00  2003.000000
TX.VAL.MRCH.R3.ZS         7.531806e+00  1992.818966
TX.VAL.MRCH.R4.ZS         2.375217e+00  1992.818966
TX.VAL.MRCH.R5.ZS         1.780035e+00  1992.818966
TX.VAL.MRCH.R6.ZS         1.480691e+00  1992.818966
TX.VAL.MRCH.RS.ZS         3.092597e+00  1992.818966
TX.VAL.MRCH.WL.CD         4.332013e+11  1992.818966
TX.VAL.MRCH.WR.ZS         5.204048e+00  1995.078947
TX.VAL.MRCH.XD.WD         1.635995e+02  1998.137931
TX.VAL.OTHR.ZS.WT         4.845107e+01  2009.344828
TX.VAL.SERV.CD.WT         2.518071e+11  2009.344828
TX.VAL.TECH.CD            1.202310e+11  2002.476923
TX.VAL.TECH.MF.ZS         2.119398e+01  2002.476923
TX.VAL.TRAN.ZS.WT         2.082193e+01  2009.344828
TX.VAL.TRVL.ZS.WT         2.400598e+01  2009.344828
VC.BTL.DETH               8.850000e+02  2002.791667
VC.IDP.TOTL.HE            2.509083e+05  2005.416667
VC.IDP.TOTL.LE            3.783333e+04  2009.000000
VC.IHR.PSRC.P5            5.092299e+00  2006.000000
per_allsp.cov_pop_tot     5.874848e+01  2007.000000
per_lm_alllm.cov_pop_tot  7.403373e-01  2007.000000
per_sa_allsa.cov_pop_tot  2.816466e+01  2007.000000
per_si_allsi.cov_pop_tot  4.186500e+01  2007.000000

[1238 rows x 2 columns]

# Build Global DataFrame

In [9]:
df_s = df_indicators[['Year', 'CountryName','CountryCode','IndicatorCode','Value']]
df_s.pivot_table(index=['CountryCode','CountryName','Year'], columns=['IndicatorCode'], values=['Value'])

                                      Value                                   \
IndicatorCode                AG.AGR.TRAC.NO AG.CON.FERT.PT.ZS AG.CON.FERT.ZS
CountryCode CountryName Year
ABW         Aruba       1960            NaN               NaN            NaN
                        1961            NaN               NaN            NaN
                        1962            NaN               NaN            NaN
                        1963            NaN               NaN            NaN
                        1964            NaN               NaN            NaN
                        1965            NaN               NaN            NaN
                        1966            NaN               NaN            NaN
                        1967            NaN               NaN            NaN
                        1968            NaN               NaN            NaN
                        1969            NaN               NaN            NaN
                        1970            NaN               NaN            NaN
                        1971            NaN               NaN            NaN
                        1972            NaN               NaN            NaN
                        1973            NaN               NaN            NaN
                        1974            NaN               NaN            NaN
                        1975            NaN               NaN            NaN
                        1976            NaN               NaN            NaN
                        1977            NaN               NaN            NaN
                        1978            NaN               NaN            NaN
                        1979            NaN               NaN            NaN
                        1980            NaN               NaN            NaN
                        1981            NaN               NaN            NaN
                        1982            NaN               NaN            NaN
                        1983            NaN               NaN            NaN
                        1984            NaN               NaN            NaN
                        1985            NaN               NaN            NaN
                        1986            NaN               NaN            NaN
                        1987            NaN               NaN            NaN
                        1988            NaN               NaN            NaN
                        1989            NaN               NaN            NaN
...                                     ...               ...            ...
ZWE         Zimbabwe    1986        16075.0               NaN            NaN
                        1987        15925.0               NaN            NaN
                        1988        16142.0               NaN            NaN
                        1989        16760.0               NaN            NaN
                        1990        17380.0               NaN            NaN
                        1991        18000.0               NaN            NaN
                        1992        18615.0               NaN            NaN
                        1993        19235.0               NaN            NaN
                        1994        19850.0               NaN            NaN
                        1995        20500.0               NaN            NaN
                        1996        21069.0               NaN            NaN
                        1997        22496.0               NaN            NaN
                        1998            NaN               NaN            NaN
                        1999            NaN               NaN            NaN
                        2000            NaN               NaN            NaN
                        2001            NaN               NaN            NaN
                        2002            NaN        131.162557      35.701370
                        2003            NaN        176.766368      40.008767
                        2004            NaN        135.299187      22.724211
                        2005            NaN        145.104197      21.799487
                        2006            NaN        210.442742      32.356341
                        2007            NaN        171.109177      27.035250
                        2008            NaN        147.903481      21.994118
                        2009            NaN        186.693038      28.778049
                        2010            NaN        215.715190      34.083000
                        2011            NaN        195.732595      29.453095
                        2012            NaN        170.938235      29.059500
                        2013            NaN        277.783019      36.806250
                        2014            NaN               NaN            NaN
                        2015            NaN               NaN            NaN

                                                                           \
IndicatorCode                AG.LND.AGRI.K2 AG.LND.AGRI.ZS AG.LND.ARBL.HA
CountryCode CountryName Year
ABW         Aruba       1960            NaN            NaN            NaN
                        1961           20.0      11.111111         2000.0
                        1962           20.0      11.111111         2000.0
                        1963           20.0      11.111111         2000.0
                        1964           20.0      11.111111         2000.0
                        1965           20.0      11.111111         2000.0
                        1966           20.0      11.111111         2000.0
                        1967           20.0      11.111111         2000.0
                        1968           20.0      11.111111         2000.0
                        1969           20.0      11.111111         2000.0
                        1970           20.0      11.111111         2000.0
                        1971           20.0      11.111111         2000.0
                        1972           20.0      11.111111         2000.0
                        1973           20.0      11.111111         2000.0
                        1974           20.0      11.111111         2000.0
                        1975           20.0      11.111111         2000.0
                        1976           20.0      11.111111         2000.0
                        1977           20.0      11.111111         2000.0
                        1978           20.0      11.111111         2000.0
                        1979           20.0      11.111111         2000.0
                        1980           20.0      11.111111         2000.0
                        1981           20.0      11.111111         2000.0
                        1982           20.0      11.111111         2000.0
                        1983           20.0      11.111111         2000.0
                        1984           20.0      11.111111         2000.0
                        1985           20.0      11.111111         2000.0
                        1986           20.0      11.111111         2000.0
                        1987           20.0      11.111111         2000.0
                        1988           20.0      11.111111         2000.0
                        1989           20.0      11.111111         2000.0
...                                     ...            ...            ...
ZWE         Zimbabwe    1986       127150.0      32.868037      2745000.0
                        1987       127900.0      33.061910      2790000.0
                        1988       128800.0      33.294559      2830000.0
                        1989       129550.0      33.488432      2870000.0
                        1990       130100.0      33.630606      2910000.0
                        1991       131800.0      34.070053      2950000.0
                        1992       133500.0      34.509500      2990000.0
                        1993       135200.0      34.948947      3030000.0
                        1994       137200.0      35.465943      3100000.0
                        1995       138600.0      35.827840      3110000.0
                        1996       142350.0      36.797208      3400000.0
                        1997       144190.0      37.272845      3500000.0
                        1998       145200.0      37.533928      3400000.0
                        1999       148400.0      38.361122      3550000.0
                        2000       150600.0      38.929818      3600000.0
                        2001       152400.0      39.395114      3600000.0
                        2002       154700.0      39.989660      3650000.0
                        2003       156500.0      40.454957      3650000.0
                        2004       160000.0      41.359700      3800000.0
                        2005       161000.0      41.618198      3900000.0
                        2006       163000.0      42.135195      4100000.0
                        2007       162000.0      41.876696      4000000.0
                        2008       164500.0      42.522942      4250000.0
                        2009       163000.0      42.135195      4100000.0
                        2010       162000.0      41.876696      4000000.0
                        2011       164000.0      42.393693      4200000.0
                        2012       162000.0      41.876696      4000000.0
                        2013       162000.0      41.876696      4000000.0
                        2014            NaN            NaN            NaN
                        2015            NaN            NaN            NaN

                                                                              \
IndicatorCode                AG.LND.ARBL.HA.PC AG.LND.ARBL.ZS AG.LND.CREL.HA
CountryCode CountryName Year
ABW         Aruba       1960               NaN            NaN            NaN
                        1961          0.036078      11.111111            NaN
                        1962          0.035571      11.111111            NaN
                        1963          0.035275      11.111111            NaN
                        1964          0.035070      11.111111            NaN
                        1965          0.034868      11.111111            NaN
                        1966          0.034655      11.111111            NaN
                        1967          0.034454      11.111111            NaN
                        1968          0.034255      11.111111            NaN
                        1969          0.034058      11.111111            NaN
                        1970          0.033861      11.111111            NaN
                        1971          0.033649      11.111111            NaN
                        1972          0.033417      11.111111            NaN
                        1973          0.033201      11.111111            NaN
                        1974          0.033044      11.111111            NaN
                        1975          0.032973      11.111111            NaN
                        1976          0.033009      11.111111            NaN
                        1977          0.033131      11.111111            NaN
                        1978          0.033275      11.111111            NaN
                        1979          0.033346      11.111111            NaN
                        1980          0.033280      11.111111            NaN
                        1981          0.033021      11.111111            NaN
                        1982          0.032603      11.111111            NaN
                        1983          0.032152      11.111111            NaN
                        1984          0.031831      11.111111            NaN
                        1985          0.031732      11.111111            NaN
                        1986          0.031926      11.111111            NaN
                        1987          0.032344      11.111111            NaN
                        1988          0.032746      11.111111            NaN
                        1989          0.032770      11.111111            NaN
...                                        ...            ...            ...
ZWE         Zimbabwe    1986          0.298406       7.095774      1828580.0
                        1987          0.292586       7.212098      1765497.0
                        1988          0.286821       7.315497      1936990.0
                        1989          0.281788       7.418896      1692875.0
                        1990          0.277545       7.522295      1576058.0
                        1991          0.274086       7.625695      1547963.0
                        1992          0.271332       7.729094      1168509.0
                        1993          0.269178       7.832493      1697030.0
                        1994          0.270110       8.013442      1935023.0
                        1995          0.266196       8.039292      1814615.0
                        1996          0.286252       8.788936      2054659.0
                        1997          0.290219       9.047434      2161291.0
                        1998          0.278079       8.788936      1658587.0
                        1999          0.286891       9.176683      1822948.0
                        2000          0.288000       9.305933      1793790.0
                        2001          0.285624       9.305933      1591581.0
                        2002          0.287596       9.435182      1661795.0
                        2003          0.285733       9.435182      1654579.0
                        2004          0.295310       9.822929      2016836.0
                        2005          0.300360      10.081427      2138202.0
                        2006          0.312311      10.598423      2289312.0
                        2007          0.300802      10.339925      1949453.0
                        2008          0.314921      10.986170      2235440.0
                        2009          0.298812      10.598423      2080405.0
                        2010          0.286248      10.339925      1891766.0
                        2011          0.294621      10.856921      2140476.0
                        2012          0.274622      10.339925      1439745.0
                        2013          0.268491      10.339925      1378745.0
                        2014               NaN            NaN            NaN
                        2015               NaN            NaN            NaN

                                                      ...             \
IndicatorCode                AG.LND.CROP.ZS           ...
CountryCode CountryName Year                          ...
ABW         Aruba       1960            NaN           ...
                        1961            NaN           ...
                        1962            NaN           ...
                        1963            NaN           ...
                        1964            NaN           ...
                        1965            NaN           ...
                        1966            NaN           ...
                        1967            NaN           ...
                        1968            NaN           ...
                        1969            NaN           ...
                        1970            NaN           ...
                        1971            NaN           ...
                        1972            NaN           ...
                        1973            NaN           ...
                        1974            NaN           ...
                        1975            NaN           ...
                        1976            NaN           ...
                        1977            NaN           ...
                        1978            NaN           ...
                        1979            NaN           ...
                        1980            NaN           ...
                        1981            NaN           ...
                        1982            NaN           ...
                        1983            NaN           ...
                        1984            NaN           ...
                        1985            NaN           ...
                        1986            NaN           ...
                        1987            NaN           ...
                        1988            NaN           ...
                        1989            NaN           ...
...                                     ...           ...
ZWE         Zimbabwe    1986       0.258498           ...
                        1987       0.258498           ...
                        1988       0.258498           ...
                        1989       0.258498           ...
                        1990       0.258498           ...
                        1991       0.258498           ...
                        1992       0.258498           ...
                        1993       0.258498           ...
                        1994       0.258498           ...
                        1995       0.258498           ...
                        1996       0.258498           ...
                        1997       0.258498           ...
                        1998       0.258498           ...
                        1999       0.258498           ...
                        2000       0.258498           ...
                        2001       0.258498           ...
                        2002       0.258498           ...
                        2003       0.258498           ...
                        2004       0.258498           ...
                        2005       0.258498           ...
                        2006       0.258498           ...
                        2007       0.258498           ...
                        2008       0.258498           ...
                        2009       0.258498           ...
                        2010       0.258498           ...
                        2011       0.258498           ...
                        2012       0.258498           ...
                        2013       0.258498           ...
                        2014            NaN           ...
                        2015            NaN           ...

                                                                             \
IndicatorCode                per_allsp.cov_pop_tot per_lm_alllm.adq_pop_tot
CountryCode CountryName Year
ABW         Aruba       1960                   NaN                      NaN
                        1961                   NaN                      NaN
                        1962                   NaN                      NaN
                        1963                   NaN                      NaN
                        1964                   NaN                      NaN
                        1965                   NaN                      NaN
                        1966                   NaN                      NaN
                        1967                   NaN                      NaN
                        1968                   NaN                      NaN
                        1969                   NaN                      NaN
                        1970                   NaN                      NaN
                        1971                   NaN                      NaN
                        1972                   NaN                      NaN
                        1973                   NaN                      NaN
                        1974                   NaN                      NaN
                        1975                   NaN                      NaN
                        1976                   NaN                      NaN
                        1977                   NaN                      NaN
                        1978                   NaN                      NaN
                        1979                   NaN                      NaN
                        1980                   NaN                      NaN

In [10]:
df_s.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5656458 entries, 0 to 5656457
Data columns (total 5 columns):
Year             int64
CountryName      object
CountryCode      object
IndicatorCode    object
Value            float64
dtypes: float64(1), int64(1), object(3)
memory usage: 215.8+ MB

In [11]:
df_s.describe()

               Year         Value
count  5.656458e+06  5.656458e+06
mean   1.994464e+03  1.070501e+12
std    1.387895e+01  4.842469e+13
min    1.960000e+03 -9.824821e+15
25%    1.984000e+03  5.566242e+00
50%    1.997000e+03  6.357450e+01
75%    2.006000e+03  1.346722e+07
max    2.015000e+03  1.103367e+16

# TO DO

# Visualization

# TO DO

# Identify and Deal with Missing Values

# TO DO

# Use Imputation to Deal with Missing Values

# Why Imputation 

We are working on large data set where the data are expensive and we have many attributes/features. We can not afford to throw data out.  This could have many side effects and may cause our final analysis to be biased and incorrect. 

As a consensus, our team decided to use the normalized imputation method to determine how to fill in the missing data.  The easiset way to impute the missing data is to fill in the missing entries using the method taught in class.

* df_normalized = (df_sub-df_sub.min())/(df_sub.max()-df_sub.min())
* handle missing Categorical and Continuous feature variables.

# TO DO 
At a high level, we need to determine what is our hypothesis or what are we trying to test at HIGH LEVEL.

If this is not decided early on, we will be all over the place. This will make us look like we are confused by not taking a stand once our EDA analysis is completed. This will make it easier to complete the project 1 assignment.

Our report has to be on target, where we can explain in layman's terms the problem to upper management of our findings.  Upper management will not be impressed by what we have done, but have we identified and provided a solution to the problem in simple terminology.